<f:layout name="Content" />

<f:section name="Configuration">
    <flux:form id="example">
        <!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:flexform tag -->
        <flux:field.input name="settings.helloWorld" required="true" />
    </flux:form>
</f:section>

<f:section name="Preview">
    <!-- If you wish, place custom backend preview content here -->
    <strong>Your Input:</strong><br />
    {settings.helloWorld}
</f:section>

<f:section name="Main">
    <h3>I am a content element!</h3>
    <p>
        My template file is EXT:themetest/Resources/Private/Content/Example.html.
    </p>
    <h3>Frontend output</h3>
    <p>
        {settings.helloWorld}
    </p>
</f:section>
